/* for mobile */
@media only screen and (max-width: 560px){
.faintgreen{
    background-color: #ccffee;
    width:100%;
    padding: 5%;
}
.faintblue{
    background-color: #b3d9ff;
    width:90%;
    padding: 5%;
    color: #ffffff;
}
.hotred{
    padding:2%;
    background-color: red;
    width:60%;
    color: #ffffff;
}
.whitediv{
    padding: 5%;
    background-color: #ffffff;
    margin-left: -11%
}
.redparti{
    padding: 5%;
    background-color: #ff0066;
}
.whitebene{
    padding: 5%;
    background-color: #ffffff;
}
.faintyellow{
    padding:5%;
    width:50%;
    background-color: #ffff80;
}
.faintyellow2{
    padding:5%;
    background-color: #ffff80;
}
}



/* for desktop */
@media only screen and (min-width: 1224px){
    .faintgreen{
        position: relative;
        background-color: #ccffee;
        width:100%;
        height:350%;
        padding: 5%
    } 
    .faintblue{
        background-color: #b3d9ff;
        width:90%;
        height:95%;
        padding: 5%;
        color: #ffffff;
    }
    .grey{
        opacity: 0.6;
        position: absolute;
        background-color: gray;
        height: 105%;
        top:-5%;
        left:66.66%;
        width:33.33%;
    }

    .hotred{
        opacity: 0.7;
        padding:2%;
        background-color: red;
        width:30%;
        color: #ffffff;
    }
    .faintyellow2{
        opacity: 0.7;
        position: absolute;
        top:7%;
        left:55%;
        padding:5%;
        background-color: #ffff80;
    }
    .whitediv{
        opacity: 0.7;
        padding: 5%;
        background-color: #ffffff;
        width:57%;
        margin-left: -11%
    }
    .redparti{
        opacity: 0.7;
        position: absolute;
        left:40%;
        top:40%;
        padding: 5%;
        background-color: #ff0066;
    }
    .req{
        opacity: 0.7;
        position: absolute;
        left:40%;
        top:55%;
        padding: 5%;
        background-color: #ffffff;
    }
    .benefits{
        opacity: 0.7;
        position: absolute;
        left:10%;
        top:60%;
        width:25%;
        padding: 5%;
        background-color: #ffffff;
    }
    .faintyellow{
        opacity: 0.7;
        position: absolute;
        left: 40%;
        top:79.5%;
        background-color: #ffff80;
    }
    .sowhat{
        width:30%;
        padding: 5%;

    }
}